<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.GoalBusConnectionString"
            connectionString="Data Source=svrprueba.database.windows.net;Initial Catalog=GoalBus;Persist Security Info=True;User ID=Administrador;Password=Practica2022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>